
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
</head>
<body>
    <div class="container">
        <a href="/app1" style="text-align: center;"> <h3>Go to App1 Page</h3> </a>
        <h1>This is the form page</h1> 
        <form method="POST" id="userForm">
            {% csrf_token %}
            {{ form.as_p }} 
            <input type="submit" class="btn btn-primary" value="Submit">
            <a href="list" class="btn btn-info">Go to Users Page</a>
        </form>
    </div>
 
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center; margin-top: 100px;">
        <br> I deployed this app using  <a href="https://www.digitalocean.com/?refcode=c57fecc84c45&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge" target="_blank" rel="noopener noreferrer"> Click Here To Create and get 200$ Free</a> <br>
        <a href="https://www.digitalocean.com/?refcode=c57fecc84c45&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%203.svg" alt="DigitalOcean Referral Badge" /></a>    
    </div>
    


</body>
</html>
 