<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/" style="text-align: center;" > <h3> Go Back Main Page ... </h3> </a>

    Hi , Im abdulwahab
    test to get varibales using context :
    <ul>
        <li>  <strong> {{var1}}</strong> </li>
        <li>  <strong> {{var2}}</strong> </li> 
    </ul>

 
    test create form page : <a href="form"> Click Here To see Form Page</a>

    test to load <strong>static</strong> image <br>
    <img src="{% static 'images/Google_2015_logo.svg.png' %}" style="width: 300px; height: 200px;" alt="Google_2015_logo.svg.png">

    
    <div style="text-align: center; margin-top: 100px;">
        <br> I deployed this app using  <a href="https://www.digitalocean.com/?refcode=c57fecc84c45&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge" target="_blank" rel="noopener noreferrer"> Click Here To Create and get 200$ Free</a> <br>
        <a href="https://www.digitalocean.com/?refcode=c57fecc84c45&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%203.svg" alt="DigitalOcean Referral Badge" /></a>    
    </div>
    
    

</body>
</html>