<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStoreApp index</title>
</head>
<body>
    
    <ul>
        <li>
            <h1> shelves Pages </h1>
            <ul>
                <li><a href="/BookStoreApp/shelves/add"> Go to Add Page </a></li>
                <li><a href="/BookStoreApp/shelves"> Go to List Page </a></li>
            </ul>
        </li>
        <li>
            <h1> authors Pages </h1>
            <ul>
                <li><a href="/BookStoreApp/authors/add"> Go to authors Add Page </a></li>
                <li><a href="/BookStoreApp/authors"> Go to authors List Page </a></li>
            </ul>
        </li>
        <li>
            <h1> books Pages </h1>
            <ul>
                <li><a href="/BookStoreApp/books/add"> Go to books Add Page </a></li>
                <li><a href="/BookStoreApp/books"> Go to books List Page </a></li>
            </ul>
        </li>
    </ul>

</body>
</html>