<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    This Is My Django Project  <br>
    apps URLS :

    <ul> 
        <li> 
            <a href="app1/"   rel="noopener noreferrer"> Go App1 Page </a>
        </li>
    </ul>



    <div style="text-align: center; margin-top: 100px;">
        <br> I deployed this app using  <a href="https://www.digitalocean.com/?refcode=c57fecc84c45&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge" target="_blank" rel="noopener noreferrer"> Click Here To Create and get 200$ Free</a> <br>
        <a href="https://www.digitalocean.com/?refcode=c57fecc84c45&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"><img src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%203.svg" alt="DigitalOcean Referral Badge" /></a>    
    </div>
    

</body>
</html>